{% load render_table from django_tables2 %}

<div class="table-responsive">
    {% render_table products %}
</div>

<script type="text/javascript">
    $('#add_button').click(function (evt) {
        evt.preventDefault();
        const btn = $(this);
        const url = btn.attr('data-href');
        $.ajax({
            method: 'GET',
            dataType: 'json',
            url: url,
            success : function (data) {
                $('#order_item_container').html(data.result)
            }
        })
    });

</script>


<script type="text/javascript">
<!--    $('.add_button').click(function (evt) {-->
<!--        evt.preventDefault();-->
<!--        const btn = $(this);-->
<!--        const url = btn.attr('data-href');-->
<!--        $.ajax({-->
<!--          url: url,-->
<!--          type: "Get",-->
<!--          dataType: "json",-->
<!--          data: JSON.stringify({payload: payload,}),-->
<!--          headers: {-->
<!--            "X-Requested-With": "XMLHttpRequest",-->
<!--            "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function-->
<!--          },-->
<!--          success: (data) => {-->
<!--            console.log(data);-->
<!--          },-->
<!--          error: (error) => {-->
<!--            console.log(error);-->
<!--          }-->
<!--        });-->


</script>