django==4.0.1
mysqlclient==2.1.0
django-filter==21.1
django-tables2==2.4.1
django-crispy-forms==1.13.0
django-ckeditor==6.2.0
djangoajax==3.2
django_ajax==0.3.0
django-ajax-tables==1.1.1
dj-database-url
django-import-export
djangorestframework==3.13.1
Markdown==3.3.6
reportlab==3.6.3
pillow==8.4.0
autopep8
django-ckeditor==6.2.0