{% extends 'base.html' %} {% load render_table from django_tables2 %} {% load static %}

{% load static %}

{% include 'include/step.js' %}

{% block content_wrapper %}

<style type="text/css">


</style>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">

            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
    <!-- vendor css -->
    <link href="/static/assets/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/assets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/assets/lib/typicons.font/typicons.css" rel="stylesheet">
    <link href="/static/assets/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">



    <!-- azia CSS -->
    <link rel="stylesheet" href="/static/assets/css/azia.css">

<!--    Step by Step CSS & JS            -->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



              <div class="az-content az-content-dashboard">
      <div class="container">
        <div class="az-content-body">



          <div class="az-dashboard-one-title">
            <div>
              <h2 class="az-dashboard-title">Hi, welcome back! <a style="font-style:italic; color:blue; font-size:25px"> {{request.user.username}} </a>  </h2>
              <p class="az-dashboard-text">Your Questionaire.</p>
            </div>
            <div class="az-content-header-right">
              <div class="media">
                <div class="media-body">
                  <label>Start Date</label>
                  <h6>Oct 10, 2018</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-body">
                  <label>End Date</label>
                  <h6>Oct 23, 2018</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <div class="media">
                <div class="media-body">
                  <label>Event Category</label>
                  <h6>All Categories</h6>
                </div><!-- media-body -->
              </div><!-- media -->
              <a href="" class="btn btn-purple">Export</a>
            </div>
          </div><!-- az-dashboard-one-title -->

          <div class="az-dashboard-nav">
            <nav class="nav">
              <a class="nav-link active" data-toggle="tab" href="#">Overview</a>
              <a class="nav-link" data-toggle="tab" href="#">Team</a>
              <a class="nav-link" data-toggle="tab" href="#">Geography</a>
              <a class="nav-link" data-toggle="tab" href="#">More</a>
            </nav>

            <nav class="nav">
              <a class="nav-link" href="#"><i class="far fa-save"></i> Save Report</a>
              <a class="nav-link" href="#"><i class="far fa-file-pdf"></i> Export to PDF</a>
              <a class="nav-link" href="#"><i class="far fa-envelope"></i>Send to Email</a>
              <a class="nav-link" href="#"><i class="fas fa-ellipsis-h"></i></a>
            </nav>
          </div>


<!--**** Step by Step Wizard Sections *****            -->


        </div><!-- az-content-body -->
      </div>
    </div><!-- az-content -->


       <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List</h4>
                        </div>
                        <div class="comment-widgets scrollable">
                               <div class="row" style="color: #ea2088; font-style: bold; font-size: 3rem; ">
        <div class="col-md-3"></div>
        <div class="col-md-6">My Questionaire List</div>
        <div class="col-md-3">
            <div style="float:right;"> <a class="btn ghost-blue" href="{% url 'create-questionaire' %}">New Questionaire</a> </div>
        </div>
    </div>

    <div style="border-bottom: 1px solid white;"></div>

    <br>
<div class="row">

   <div class="col-md-1"></div>
   <div class="col-md-10">
           <form method="get">
                                        {{dashboard_mainFilter.form}}

                                    <button class="btn btn-primary" type="submit">Search</button>
                                  </form>

   </div>
   <div class="col-md-1"></div>


</div>
<div class="row">
        <div class="col-md-1">.</div>
        <div class="col-md-10">
                <table class="table table-css">



        <br>

        <thead class="thead-inverse align-middle">
            <tr>
                <th width="20%">Date</th>
                <th width="35%">Title</th>
                <th width="15%">Hours</th>
                <th width="15%">FTE</th>
                <th width="15%"># Endpoints</th>

            </tr>
        </thead>

{% if object_list %}

        <tbody>
            {% for order in object_list %}
                <tr>
                    <td class="align-middle">{{ order.date }}</td>
                    <td class="align-middle"><h4>{{ order.title }}</h4></td>
                    <td class="align-middle">{{ order.sum_hours }}</td>
                    <td class="align-middle">{{ order.sum_fte }}</td>
                    <td class="align-middle">{{ order.sum_endpoint }}</td>

                    <td class="align-middle">

                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
        </div>
        <div class="col-md-1">.</div>

</div>


    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>

{% else %}

        <tbody></tbody>
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #ea2088; font-style: bold; font-size: 1.5rem; text-align: center;">WOW, SUCH EMPTY</div>
    </div>
{% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>





            </div>

    </div>
    <div class="col-md-i"></div>
</div>



{% endblock content_wrapper %}

{% block extra_js %}

    <script type="text/javascript" src="/static/assets/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/cookie.js"></script>

<!--    <script src="/static/assets/lib/jquery.flot/jquery.flot.js"></script>-->
<!--    <script src="/static/assets/lib/jquery.flot/jquery.flot.resize.js"></script>-->
<!--    <script src="/static/assets/lib/chart.js/Chart.bundle.min.js"></script>-->
    <script src="/static/assets/lib/peity/jquery.peity.min.js"></script>
    <script src="/static/assets/js/azia.js"></script>

<!--    <script src="/static/assets/js/chart.flot.sampledata.js"></script>-->
<!--    <script src="/static/assets/js/dashboard.sampledata.js"></script>-->

    <script src="{% static 'assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>






{% endblock %}

   {% include 'include/js.html' %}



<!--****** Step by Step Wizard ******-->


