{% extends 'base.html' %} {% load render_table from django_tables2 %}

{% load static %}

{% block content_wrapper %}



 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Questionnaires</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Questionnaire</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->

<div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div>


    <form method="post">
    
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="row">
            <div class="col-md-2">.</div>
            <div class="col-md-9">
<div class="card card-dark">
  <div class="card-header">
    <h3 class="card-title">Enter: Type, Reagion/Country, Currency </h3>
    <div class="card-tools">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      <span class="badge badge-primary" data-toggle="collapse" href="#region_country" role="button" aria-expanded="false" aria-controls="collapseExample">Help</span>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body">
<p>
<!--  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">-->
<!--    Link with href-->
<!--  </a>-->
<!--  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
<!--    Button with data-target-->
<!--  </button>-->
</p>
<div class="collapse" id="region_country">
  <div class="card card-body">
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Labor Type: #1
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Select from the Drop-Down-List the Type of Delivery Geo or Project Labor you what to Create.
          <div class="row">StdDeliveryGeo</div>
          <div class="row">DedicatedOn</div>
          <div class="row">CloudHybridGeo</div>
          <div class="row">Prod-RFS-NBD</div>
          <div class="row">CustomGeo</div>
          <div class="row">SharedHostGeo</div>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Region / Country: #2
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
     Refers to - The Country/Delivery Geo that all or most of the Support will be Delivered from.....,
          This Option will dictate entries for the Currency and Default/Year.

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapsefour">
          Delivery Options: #3
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
     Enter Generic/Common Name for the Delivery Geo currently in use.
          - If this is for a new Delivery Geo...., use the name provided
          - If this is for a Project/RFS/NBD etc you can make up a Name of you Choosing.
          - If this is for a Hybrid Mixed-Support Delivery Geo for multiple Geographies or Shared Support,
          create a name using the first two or three Characters from existing Delivery Geo
          i.e. India, United States, Australia would be "INUSAU-Geo" or "INUSAU-Project...., etc.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
          Currency: #4
        </button>
      </h5>
    </div>
    <div id="collapsefour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
      Enter - The primary Currency Value/Denomination in use for the Country Selected in the "Region / Country" field..!</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapseFive">
          Default/Yr: #5
        </button>
      </h5>
    </div>
    <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
      <div class="card-body">
      Enter - The amount in Hours for the normal Work Week for the country entered in the "Region / Country" Field ..!</div>
    </div>
  </div>


</div>
  </div>
</div>


<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}

          <div class="form-group">
            {{ form.date.errors }}
            <label for="{{ form.date.id_for_label }}">date:</label>
            {{ form.date }}
        </div>



            <div class="form-group">
            {{ form.timestamp.errors }}
            <label for="{{ form.timestamp.id_for_label }}">timestamp:</label>
            {{ form.timestamp }}
        </div>


            <div class="form-group">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}">title:</label>
            {{ form.title }}
        </div>


            <div class="form-group">
            {{ form.rfs_num.errors }}
            <label for="{{ form.rfs_num.id_for_label }}">rfs_num:</label>
            {{ form.rfs_num }}
        </div>

            <div class="form-group">
            {{ form.sales_connect_num.errors }}
            <label for="{{ form.sales_connect_num.id_for_label }}">sales_connect_num:</label>
            {{ form.sales_connect_num }}
        </div>



            <div class="form-group">
            {{ form.appttus_num.errors }}
            <label for="{{ form.appttus_num.id_for_label }}">appttus_num:</label>
            {{ form.appttus_num }}
        </div>


            <div class="form-group">
            {{ form.sizingtype.errors }}
            <label for="{{ form.sizingtype.id_for_label }}">sizingtype:</label>
            {{ form.sizingtype }}
        </div>

            <div class="form-group">
            {{ form.due_date.errors }}
            <label for="{{ form.due_date.id_for_label }}">due_date:</label>
            {{ form.due_date }}
        </div>



            <div class="form-group">
            {{ form.PricingStructureSelect.errors }}
            <label for="{{ form.PricingStructureSelect.id_for_label }}">PricingStructureSelect:</label>
            {{ form.PricingStructureSelect }}
        </div>


            <div class="form-group">
            {{ form.team.errors }}
            <label for="{{ form.date.id_for_label }}">team:</label>
            {{ form.team }}
        </div>


            <div class="form-group">
            {{ form.assigned_by.errors }}
            <label for="{{ form.assigned_by.id_for_label }}">assigned_by:</label>
            {{ form.assigned_by }}
        </div>

            <div class="form-group">
            {{ form.assigned_to.errors }}
            <label for="{{ form.assigned_to.id_for_label }}">assigned_to:</label>
            {{ form.assigned_to }}
        </div>


            <div class="form-group">
            {{ form.RequesterFirstName.errors }}
            <label for="{{ form.RequesterFirstName.id_for_label }}">RequesterFirstName:</label>
            {{ form.RequesterFirstName }}
        </div>


            <div class="form-group">
            {{ form.RequesterLastName.errors }}
            <label for="{{ form.RequesterLastName.id_for_label }}">RequesterLastName:</label>
            {{ form.RequesterLastName }}
        </div>

            <div class="form-group">
            {{ form.RequesterRole.errors }}
            <label for="{{ form.RequesterRole.id_for_label }}">RequesterRole:</label>
            {{ form.RequesterRole }}
        </div>

            <div class="form-group">
            {{ form.RequesterEmail.errors }}
            <label for="{{ form.RequesterEmail.id_for_label }}">RequesterEmail:</label>
            {{ form.RequesterEmail }}
        </div>

            <div class="form-group">
            {{ form.CustomerName.errors }}
            <label for="{{ form.CustomerName.id_for_label }}">CustomerName:</label>
            {{ form.CustomerName }}
        </div>

            <div class="form-group">
            {{ form.CustomerStatus.errors }}
            <label for="{{ form.CustomerStatus.id_for_label }}">CustomerStatus:</label>
            {{ form.CustomerStatus }}
        </div>

            <div class="form-group">
            {{ form.Solution_Design.errors }}
            <label for="{{ form.date.id_for_label }}">Solution_Design:</label>
            {{ form.Solution_Design }}
        </div>

            <div class="form-group">
            {{ form.SalesContactName.errors }}
            <label for="{{ form.SalesContactName.id_for_label }}">SalesContactName:</label>
            {{ form.SalesContactName }}
        </div>


            <div class="form-group">
            {{ form.SalesContactEmail.errors }}
            <label for="{{ form.SalesContactEmail.id_for_label }}">SalesContactEmail:</label>
            {{ form.SalesContactEmail }}
        </div>


            <div class="form-group">
            {{ form.TranStartDate.errors }}
            <label for="{{ form.TranStartDate.id_for_label }}">TranStartDate:</label>
            {{ form.TranStartDate }}
        </div>

            <div class="form-group">
            {{ form.Firm_Price_or_NBIE.errors }}
            <label for="{{ form.Firm_Price_or_NBIE.id_for_label }}">Firm_Price_or_NBIE:</label>
            {{ form.Firm_Price_or_NBIE }}
        </div>

            <div class="form-group">
            {{ form.Service_Delivery_Requirements.errors }}
            <label for="{{ form.Service_Delivery_Requirements.id_for_label }}">Service_Delivery_Requirements:</label>
            {{ form.Service_Delivery_Requirements }}
        </div>


            <div class="form-group">
            {{ form.Solution_Owner.errors }}
            <label for="{{ form.date.id_for_label }}">Solution_Owner:</label>
            {{ form.Solution_Owner }}
        </div>

            <div class="form-group">
            {{ form.Revenue_Structure_Select.errors }}
            <label for="{{ form.Revenue_Structure_Select.id_for_label }}">Revenue_Structure_Select:</label>
            {{ form.Revenue_Structure_Select }}
        </div>

            <div class="form-group">
            {{ form.Revenue_Structure_Cost_Explain.errors }}
            <label for="{{ form.Revenue_Structure_Cost_Explain.id_for_label }}">Revenue_Structure_Cost_Explain:</label>
            {{ form.Revenue_Structure_Cost_Explain }}
        </div>

            <div class="form-group">
            {{ form.Restricted_Delivery.errors }}
            <label for="{{ form.Restricted_Delivery.id_for_label }}">Restricted_Delivery:</label>
            {{ form.Restricted_Delivery }}
        </div>


            <div class="form-group">
            {{ form.Restricted_Delivery_Explanation.errors }}
            <label for="{{ form.Restricted_Delivery_Explanation.id_for_label }}">Restricted_Delivery_Explanation:</label>
            {{ form.Restricted_Delivery_Explanation }}
        </div>


            <div class="form-group">
            {{ form.Questionnaire_num_consoles.errors }}
            <label for="{{ form.Questionnaire_num_consoles.id_for_label }}">Questionnaire_num_consoles:</label>
            {{ form.Questionnaire_num_consoles }}
        </div>


            <div class="form-group">
            {{ form.Questionnaire_num_workstation.errors }}
            <label for="{{ form.Questionnaire_num_workstation.id_for_label }}">Questionnaire_num_workstation:</label>
            {{ form.Questionnaire_num_workstation }}
        </div>

              <div class="form-group">
            {{ form.Questionnaire_num_server.errors }}
            <label for="{{ form.Questionnaire_num_server.id_for_label }}">Questionnaire_num_server:</label>
            {{ form.Questionnaire_num_server }}
        </div>

              <div class="form-group">
            {{ form.Questionnaire_num_ipaddress.errors }}
            <label for="{{ form.Questionnaire_num_ipaddress.id_for_label }}">Questionnaire_num_ipaddress:</label>
            {{ form.Questionnaire_num_ipaddress }}
        </div>

              <div class="form-group">
            {{ form.Questionnaire_num_total_endpoints.errors }}
            <label for="{{ form.Questionnaire_num_total_endpoints.id_for_label }}">Questionnaire_num_total_endpoints:</label>
            {{ form.Questionnaire_num_total_endpoints }}
        </div>

              <div class="form-group">
            {{ form.AntiVirusMalware.errors }}
            <label for="{{ form.AntiVirusMalware.id_for_label }}">AntiVirusMalware:</label>
            {{ form.AntiVirusMalware }}
        </div>


              <div class="form-group">
            {{ form.DLP_on_Workstations.errors }}
            <label for="{{ form.DLP_on_Workstations.id_for_label }}">DLP_on_Workstations:</label>
            {{ form.DLP_on_Workstations }}
        </div>

              <div class="form-group">
            {{ form.DLP_on_Servers.errors }}
            <label for="{{ form.DLP_on_Servers.id_for_label }}">DLP_on_Servers:</label>
            {{ form.DLP_on_Servers }}
        </div>

              <div class="form-group">
            {{ form.Encryption_on_Workstations.errors }}
            <label for="{{ form.Encryption_on_Workstations.id_for_label }}">Encryption_on_Workstations:</label>
            {{ form.Encryption_on_Workstations }}
        </div>

              <div class="form-group">
            {{ form.Encryption_on_Servers.errors }}
            <label for="{{ form.Encryption_on_Servers.id_for_label }}">Encryption_on_Servers:</label>
            {{ form.Encryption_on_Servers }}
        </div>


              <div class="form-group">
            {{ form.prodcomponent1_wkstn.errors }}
            <label for="{{ form.prodcomponent1_wkstn.id_for_label }}">prodcomponent1_wkstn:</label>
            {{ form.prodcomponent1_wkstn }}
        </div>


              <div class="form-group">
            {{ form.NAS_Storage.errors }}
            <label for="{{ form.NAS_Storage.id_for_label }}">NAS_Storage:</label>
            {{ form.NAS_Storage }}
        </div>


              <div class="form-group">
            {{ form.Windows.errors }}
            <label for="{{ form.date.Windows }}">Windows:</label>
            {{ form.Windows }}
        </div>


              <div class="form-group">
            {{ form.AIX.errors }}
            <label for="{{ form.AIX.id_for_label }}">AIX:</label>
            {{ form.AIX }}
        </div>


              <div class="form-group">
            {{ form.VDI.errors }}
            <label for="{{ form.VDI.id_for_label }}">VDI:</label>
            {{ form.VDI }}
        </div>

              <div class="form-group">
            {{ form.URL_Filtering.errors }}
            <label for="{{ form.URL_Filtering.id_for_label }}">URL_Filtering:</label>
            {{ form.URL_Filtering }}
        </div>


              <div class="form-group">
            {{ form.HIPs_on_Workstations.errors }}
            <label for="{{ form.date.HIPs_on_Workstations }}">HIPs_on_Workstations:</label>
            {{ form.HIPs_on_Workstations }}
        </div>


              <div class="form-group">
            {{ form.HIPs_on_Servers.errors }}
            <label for="{{ form.HIPs_on_Servers.id_for_label }}">HIPs_on_Servers:</label>
            {{ form.HIPs_on_Servers }}
        </div>

              <div class="form-group">
            {{ form.Firewall_on_Workstations.errors }}
            <label for="{{ form.Firewall_on_Workstations.id_for_label }}">Firewall_on_Workstations:</label>
            {{ form.Firewall_on_Workstations }}
        </div>



              <div class="form-group">
            {{ form.Firewall_on_Servers.errors }}
            <label for="{{ form.Firewall_on_Servers.id_for_label }}">Firewall_on_Servers:</label>
            {{ form.Firewall_on_Servers }}
        </div>

              <div class="form-group">
            {{ form.BigFix_Patching_Scanning.errors }}
            <label for="{{ form.date.id_for_label }}">BigFix_Patching_Scanning:</label>
            {{ form.BigFix_Patching_Scanning }}
        </div>

              <div class="form-group">
            {{ form.Linux.errors }}
            <label for="{{ form.Linux.id_for_label }}">Linux:</label>
            {{ form.Linux }}
        </div>


              <div class="form-group">
            {{ form.Integrity_Monitoring.errors }}
            <label for="{{ form.Integrity_Monitoring.id_for_label }}">Integrity_Monitoring:</label>
            {{ form.Integrity_Monitoring }}
        </div>

              <div class="form-group">
            {{ form.Citrix.errors }}
            <label for="{{ form.Citrix.id_for_label }}">Citrix:</label>
            {{ form.Citrix }}
        </div>


              <div class="form-group">
            {{ form.Other_Features_or_Platforms.errors }}
            <label for="{{ form.Other_Features_or_Platforms.id_for_label }}">Other_Features_or_Platforms:</label>
            {{ form.Other_Features_or_Platforms }}
        </div>

              <div class="form-group">
            {{ form.Other_Features_or_Platforms_Note.errors }}
            <label for="{{ form.Other_Features_or_Platforms_Note.id_for_label }}">Other_Features_or_Platforms_Note:</label>
            {{ form.Other_Features_or_Platforms_Note }}
        </div>

              <div class="form-group">
            {{ form.Environment_and_Platforms_Note.errors }}
            <label for="{{ form.Environment_and_Platforms_Note.id_for_label }}">Environment andPlatforms_Note:</label>
            {{ form.Environment_and_Platforms_Note }}
        </div>

              <div class="form-group">
            {{ form.EmsServiceRequested.errors }}
            <label for="{{ form.EmsServiceRequested.id_for_label }}">EmsServiceRequested:</label>
            {{ form.EmsServiceRequested }}
        </div>

  <input type="submit" value="Save" class="btn btn-primary">
</form>

  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    The footer of the card
  </div>
  <!-- /.card-footer -->
</div>
<!-- /.card -->

            </div>

            <div class="col-md-1">.</div>
        </div>




















        <br>

        <div class="align-middle">
            <button type="submit" class="btn ghost-green">{{ savebtn }}</button>
            {% if title == "New Questionnaire" %}
                <button type="reset" class="btn ghost-blue" >Reset</button>
            {% endif %}
            {% if delbtn %}
                <a href="{% url 'delete-questionnaire' object.pk %}" class="btn ghost-red"> Delete Labor questionnaire </a>
            {% endif %}
            <a href="{% url 'questionnaire' %}" class="btn ghost-button">Cancel</a>
        </div>
        
    </form>
</div>

{% endblock content_wrapper %}