{% extends 'base.html' %} {% load render_table from django_tables2 %}

{% load static %}

{% block content_wrapper %}
<div class="content-wrapper">





            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List</h4>
                        </div>
                        <div class="comment-widgets scrollable">
                               <div class="row" style="color: #ea2088; font-style: bold; font-size: 3rem; ">
        <div class="col-md-3"></div>
        <div class="col-md-6">Products List</div>
        <div class="col-md-3">
            <div style="float:right;"> <a class="btn ghost-blue" href="{% url 'new-product' %}">Add New Product</a> </div>
        </div>
    </div>

    <div style="border-bottom: 1px solid white;"></div>


    <br>

<div class="row">
    <div class="col-md-1">.</div>
    <div class="col-md-10">
                <div class="row justify-content-md-center">

            <div class="col-12 col-sm-6 col-xl-2 mb-3">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
<!--                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">-->
<!--                                <div class="icon icon-shape icon-md icon-shape-blue rounded mr-4 mr-sm-0"><span class="fas fa-chart-line"></span></div>-->
<!--                                <div class="d-sm-none">-->
<!--                                    <h2 class="h5">Customers</h2>-->
<!--                                    <h3 class="mb-1">345,678</h3>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="col-12 col-xl-12 align-items-center">
                                <div class="d-none d-sm-block">
                                    <h2 class="h6" >Categories</h2>
                                    <h5 class="mb-1" >{{ total_categories }}</h5>
                                </div>
                                <small>Filter By,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> View</small>
                                <div class="small mt-2">
<!--                                    <span class="fas fa-angle-up text-success"></span>-->
<!--                                    <span class="text-success font-weight-bold">18.2%</span> Since last month-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-2 mb-3">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
<!--                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">-->
<!--                                <div class="icon icon-shape icon-md icon-shape-secondary rounded mr-4"><span class="fas fa-cash-register"></span></div>-->
<!--                                <div class="d-sm-none">-->
<!--                                    <h2 class="h5">Security Products</h2>-->
<!--                                    <h3 class="mb-1">$43,594</h3>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="col-12 col-xl-12 align-items-center">
                                <div class="d-none d-sm-block">
                                    <h2 class="h6">Products</h2>
                                    <h5 class="mb-1">{{  total_products  }}</h5>
                                </div>
                                <div class="row"> <small>Search By Name:,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> View</small></div>
<!--                                <div class="row"> <small>New,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> Add</small></div>-->
<!--                                <small>Feb 1 - Apr 1,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> View</small>-->
                                <div class="small mt-2">
<!--                                    <span class="fas fa-angle-up text-success"></span>-->
<!--                                    <span class="text-success font-weight-bold">28.2%</span> Since last month-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-2 mb-3">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
<!--                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">-->
<!--                                <div class="icon icon-shape icon-md icon-shape-secondary rounded mr-4"><span class="fas fa-cash-register"></span></div>-->
<!--                                <div class="d-sm-none">-->
<!--                                    <h2 class="h5">Sec. Vendors</h2>-->
<!--                                    <h3 class="mb-1">$43,594</h3>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="col-12 col-xl-12 align-items-center">
                                <div class="d-none d-sm-block">
                                    <h2 class="h6">Vendors</h2>
                                    <h5 class="mb-1">{{  total_prodvendors  }}</h5>
                                </div>
                                <small>Filter By,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> View</small>
                                <div class="small mt-2">
<!--                                    <span class="fas fa-angle-up text-success"></span>-->
<!--                                    <span class="text-success font-weight-bold">28.2%</span> Since last month-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-2 mb-3">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
<!--                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">-->
<!--                                <div class="ct-chart-traffic-share ct-golden-section ct-series-a"></div>-->
<!--                            </div>-->
                            <div class="col-12 col-xl-12 align-items-center">
                                <h2 class="h6 mb-3">Activity / Usage</h2>
<!--                                <h6 class="font-weight-normal text-gray"><span class="icon w-15 icon-xs icon-secondary mr-1"><span class="fas fa-desktop"></span></span> Open <a href="#" class="h6">60%</a></h6>-->
                                <h6 style="font-size:12px"><span class="icon w-15 icon-xs icon-primary mr-1"><span class="fas fa-mobile-alt"></span></span> In-Progress <a href="#" style="font-size:12px">30%</a></h6>
<!--                                <h6 class="font-weight-normal text-gray"><span class="icon w-15 icon-xs icon-tertiary mr-1"><span class="fas fa-tablet-alt"></span></span> Pending <a href="#" class="h6">10%</a></h6>-->
                                <small>Filter By,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> View</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-2 mb-3">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
<!--                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">-->
<!--                                <div class="ct-chart-traffic-share ct-golden-section ct-series-a"></div>-->
<!--                            </div>-->
                            <div class="col-12 col-xl-12 align-items-center">
                                <h2 class="h6 mb-3">Architect Reviewed %:</h2>
                                <h6 style="font-size:12px"><span class="icon w-20 icon-xs icon-secondary mr-1"><span class="fas fa-desktop"></span></span> Vetted <a href="#" style="font-size:12px">60%</a></h6>
                                <h6 style="font-size:12px"><span class="icon w-20 icon-xs icon-primary mr-1"><span class="fas fa-mobile-alt"></span></span> Partially Vetted <a href="#" style="font-size:12px">30%</a></h6>
<!--                                <h6 style="font-size:12px">Not Vetted <a href="#" class="h6">10%</a></h6>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-2 mb-3">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
<!--                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">-->
<!--                                <div class="ct-chart-traffic-share ct-golden-section ct-series-a"></div>-->
<!--                            </div>-->
                            <div class="col-12 col-xl-12 align-items-center">
                                <h2 class="h6 mb-3">New Products:</h2>
                                <h6 style="font-size:12px"><span class="icon w-20 icon-xs icon-secondary mr-1"><span class="fas fa-desktop"></span></span> Added New <a href="#" style="font-size:12px">2</a></h6>
                                <h6 style="font-size:12px"><span class="icon w-20 icon-xs icon-primary mr-1"><span class="fas fa-mobile-alt"></span></span> Updated <a href="#" style="font-size:12px">0</a></h6>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>

</div>

<div class="row">



        <div class="col-md-1">.</div>
        <div class="col-md-10">
                <table class="table table-css">

        <form method="get">
            <div class="input-group search">

                <div class="input-group-append">
                   <button type="submit" class="btn btn-pink"> Search </button>
                </div>
            </div>
        </form>



        <thead class="thead-inverse align-middle">
            <tr>
                <th width="30%">Title</th>
                <th width="25%">Vendor</th>
                <th width="20%%">Category</th>
                <th width="20%">Hours</th>
                <th width="5%">Action</th>
            </tr>
        </thead>

{% if object_list %}

        <tbody>
            {% for product in object_list %}
                <tr>
                    <td class="align-middle"><h4>{{ product.title }}</h4></td>
                    <td class="align-middle">{{ product.prodvendor }}</td>
                    <td class="align-middle">{{ product.category }}</td>
                    <td class="align-middle">{{ product.value }}</td>


                    <td class="align-middle">
<!--                        <a href="{% url 'edit-product' product.pk %}" class="btn btn-app"><i class="fas fa-edit"></i> Edit</a>-->
                        <a href="{% url 'edit-product' product.pk %}" class="btn btn"><i class="fa fa-edit"></i> Edit</a>
<!--                        <a href="{% url 'edit-product' product.pk %}" class="btn ghost-button">Edit Details</a>-->
<!--                        <a href="{% url 'delete-product' product.pk %}" class="btn ghost-red"> Delete Product </a>-->
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
        </div>
        <div class="col-md-1">.</div>


</div>


    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>

{% else %}

        <tbody></tbody>
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #ea2088; font-style: bold; font-size: 1.5rem; text-align: center;">WOW, SUCH EMPTY</div>
    </div>
{% endif %}
                        </div>
                    </div>
                </div>

            </div>




{% endblock content_wrapper %}