{% extends 'base.html' %} {% load render_table from django_tables2 %}
{% load static %}

{% block content_wrapper %}

    <div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div> 
    
    <br>
    


<div class="row">
     <div class="col-md-1">.</div>
     <div class="col-md-1">.</div>
     <div class="col-md-8">.
         <form method="post">

        {% csrf_token %}
<!--        {{ form.non_field_errors }}-->
        {{form.errors}}

           <div class="row">
               <div class="col-md-6">
                   <div class="card">
  <div class="card-header">
    <h3 class="card-title">Account / Customer Info:</h3>
    <div class="card-tools">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      <span class="badge badge-primary">Label</span>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body">
      
  <div class="form-group row">
  <label class="col-sm-4 col-form-label" for="acctname">acctname: </label>
  <input class="form-control col-sm-8" id="acctname" type="text" name="acctname" value="{{ object.acctname }}">
  </div>
      
  <div class="form-group row">
  <label class="col-sm-4 col-form-label" for="address1">address1: </label>
  <input class="form-control col-sm-8" id="address1" type="text" name="address1" value="{{ object.address1 }}">
  </div>

    <div class="form-group row">
  <label class="col-sm-4 col-form-label" for="address2">address2: </label>
  <input class="form-control col-sm-8" id="address2" type="text" name="address2" value="{{ object.address2 }}">
  </div>

  <div class="form-group row">
  <label class="col-sm-4 col-form-label" for="city">city: </label>
  <input class="form-control col-sm-8" id="city" type="text" name="city" value="{{ object.city }}">
  </div>

  <div class="form-group row">
  <label class="col-sm-4 col-form-label" for="state">state: </label>
  <input class="form-control col-sm-8" id="state" type="text" name="state" value="{{ object.state }}">
  </div>

  <div class="form-group row">
  <label class="col-sm-4 col-form-label" for="country">country: </label>
  <input class="form-control col-sm-8" id="country" type="text" name="country" value="{{ object.country }}">
  </div>

  <div class="form-group row">
  <label class="col-sm-4 col-form-label" for="contact1name">contact1name: </label>
  <input class="form-control col-sm-8" id="contact1name" type="text" name="contact1name" value="{{ object.contact1name }}">
  </div>

  <div class="form-group row">
  <label class="col-sm-4 col-form-label" for="contact1phone">contact1phone: </label>
  <input class="form-control col-sm-8" id="contact1phone" type="text" name="contact1phone" value="{{ object.contact1phone }}">
  </div>

  <div class="form-group row">
  <label class="col-sm-4 col-form-label" for="contact1email">contact1email: </label>
  <input class="form-control col-sm-8" id="contact1email" type="text" name="contact1email" value="{{ object.contact1email }}">
  </div>

  <div class="form-group row">
  <label class="col-sm-4 col-form-label" for="contact2name">contact2name: </label>
  <input class="form-control col-sm-8" id="contact2name" type="text" name="contact2name" value="{{ object.contact2name }}">
  </div>

  <div class="form-group row">
  <label class="col-sm-4 col-form-label" for="contact2phone">contact2phone: </label>
  <input class="form-control col-sm-8" id="contact2phone" type="text" name="contact2phone" value="{{ object.contact2phone }}">
  </div>

  <div class="form-group row">
  <label class="col-sm-4 col-form-label" for="contact2email">contact2email: </label>
  <input class="form-control col-sm-8" id="contact2email" type="text" name="contact2email" value="{{ object.contact2email }}">
  </div>

      
        
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    The footer of the card
  </div>
  <!-- /.card-footer -->
</div>
<!-- /.card -->

               </div>
               <div class="col-md-3">
                   <div class="card">
  <div class="card-header">
    <h3 class="card-title">Industry</h3>
    <div class="card-tools">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      <span class="badge badge-primary">Label</span>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body">
      
  <div class="form-group row">
      
      <label class="col-sm-4 col-form-label" for="businesssec">businesssec: </label>
      <input class="form-control col-sm-8" id="businesssec" type="text" name="businesssec" value="{{ object.businesssec }}">
      </div>
          
      <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="regulatory">regulatory: </label>
      <input class="form-control col-sm-8" id="regulatory" type="text" name="regulatory" value="{{ object.regulatory }}">
      </div>
          
      <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="wbsiteurl">wbsiteurl: </label>
      <input class="form-control col-sm-8" id="wbsiteurl" type="text" name="wbsiteurl" value="{{ object.wbsiteurl }}">
      </div>

  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    The footer of the card
  </div>
  <!-- /.card-footer -->
</div>
<!-- /.card -->

               </div>
               <div class="col-md-3">
                   <div class="card">
  <div class="card-header">
    <h3 class="card-title">Detail</h3>
    <div class="card-tools">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      <span class="badge badge-primary">Label</span>
    </div>
    <!-- /.card-tools -->
  </div>
  <!-- /.card-header -->
  <div class="card-body">
      <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-8" id="created" type="text" name="created" value="{{ object.created }}">
      </div>

      <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="createdby">createdby: </label>
      <input class="form-control col-sm-8" id="createdby" type="text" name="createdby" value="{{ object.createdby }}">
      </div>

      <div class="form-group row">
      <label class="col-sm-4 col-form-label" for="modifydate">modifydate: </label>
      <input class="form-control col-sm-8" id="modifydate" type="text" name="modifydate" value="{{ object.modifydate }}">
      </div>

  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    The footer of the card
  </div>
  <!-- /.card-footer -->
</div>
<!-- /.card -->
</div>

           </div>














        <br>

        <div class="align-middle">
            <button type="submit" class="btn ghost-green">{{ savebtn }}</button>
            {% if title == "New Account" %}
                <button type="reset" class="btn ghost-blue" >Reset</button>
            {% endif %}
            {% if delbtn %}
                <a href="{% url 'delete-acctcust' object.pk %}" class="btn ghost-red"> Delete Account </a>
            {% endif %}
            <a href="{% url 'acctcust' %}" class="btn ghost-button">Cancel</a>
        </div>

    </form>

     </div>
     <div class="col-md-1">.</div>
     <div class="col-md-1">.</div>

</div>

{% endblock content_wrapper %}